.container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header-container {
    margin-bottom: 18vh;
    display: flex;
    justify-content: flex-end;
    gap: 50%;
}

.footer-social-links {
    display: flex;
    gap: 5px;
    position: fixed;
    right: 5px;
    bottom: 5px;
}

h1 {
    color: black;
    left: 25vh;
}
h4 {

    color: green;
}

.container-ham {
    position: relative;
}

.hamburger-content {
    position: absolute;
    right: 15px;
    width: 25vh;
}